@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

:root {
  --accent-color: #7fc7eb;
  --font-face: "Playfair Display SC", serif;
  --font-face-secondary: "Forum", cursive;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #575658 #121212;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #353434;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 3px solid #363535;
}

.logo {
  font-weight: 900;
  font-size: 120%;
}

.cc {
  background-color: transparent;
  border: 1px solid var(--accent-color);
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.shi {
  cursor: pointer;
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.chi {
  letter-spacing: 0.15em;
}
