.it:is(:hover, :active) {
  position: relative;
  cursor: pointer;
}

.it {
  font-weight: 500 !important;
  font-family: Nunito Sans, Helvetica, Arial, sans-serif !important;
  /* letter-spacing: 2rem; */
  text-transform: uppercase;
}

header {
  font-family: Nunito Sans;
  text-transform: uppercase;
}
.it::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
  content: '';
}

.it:hover::after {
  width: 100%;
}

/* .site__header {
  top: 10px;
  padding-right: 10px;
  padding-left: 10px;
} */

.menu__button {
  color: var(--text-color);
}
.menu__button:focus,
.menu__button:hover {
  color: var(--text-color);
  box-shadow: unset;
}
.menu__button svg {
  width: 2em;
  height: 2em;
  color: var(--text-color-2);
  fill: var(--text-color-2);
}
.nav_ac {
  z-index: 99999;
  height: 50px;
  margin: 0;
  padding: 5px 15px;
  color: var(--text-color-2);
  font-weight: bold;
  font-size: 1.25rem;
  font-family: Marcellus;

  line-height: 2;
  background: var(--primary-color);
  border: unset;
}
.nav_ac:hover {
  color: var(--text-color-2);
}

.cortina__wrapper-menu {
  position: relative;
  width: 100%;
  /* padding-top: 5em; */
  /* padding-bottom: 3em; */
  height: 100%;
  overflow-y: auto;
}

.site__navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
}
.menu__opend {
  visibility: visible !important;
}

.main__menu_ul,
.menu_right {
  position: relative;

  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
.menu_right {
  text-align: center;
}
.site__navigation.menu__opend .main__menu_ul,
.site__navigation.menu__opend .menu_right {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.6s;
}
.site__navigation .main__menu_ul li {
  margin: 10px 0;
  list-style: none;
}
.site__navigation .main__menu_ul li a {
  display: block;
  color: var(--text-color);
  font-size: 2.5rem;
  text-decoration: none;
}

.bg__menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: translateY(-100%);
  transition: 0.5s ease all;
  will-change: transform;
}
.menu__opend .bg__menu {
  transform: translateY(0);
}

.menu__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

/* .the_menu {
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 0;
} */
@media (min-width: 992px) {
  .menu__container {
    margin-left: 33.3333%;
  }
  .the_menu {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

/* .the_menu .menu_item > a {
  position: relative;
  display: inline-block;
  padding: 4px 0px;
  color: var(--text-color-2);
  font-size: 2rem;
  font-family: Marcellus;
  line-height: 1;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
} */

/* @media (min-width: 768px) {
  .the_menu .menu_item > a {
    font-size: 4.8vw;
  }
} */
.menu_footer {
  bottom: 0;
  font-size: 14px;
  font-family: Marcellus;
  background: var(--primary-color);
}
.menu_footer a {
  margin-right: 10px;
  color: var(--text-color-2);
  text-decoration: none;
}
