@media screen and (min-width: 912px) {
  .footer-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    transform: rotate(-90deg);
    transform-origin: top left;
  }

  .footer-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: -2rem;
    padding: -5rem;
    align-items: center;
    justify-content: space-between;
    transform: rotate(90deg);
    transform-origin: top left;
  }

  .icon-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pp {
    display: none;
  }
}
