@tailwind base;
@tailwind components;
@tailwind utilities;

.primary_title {
  font-family: var(--font-face-primary);
}

.im {
  width: 96rem;
  height: 24rem;
}
.secondary_title {
  font-family: var(--font-face-secondary);
}

@layer base {
  body {
    @apply bg-gray-200 font-body leading-6 text-paragraph;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary text-white;
  }
  .section {
    @apply py-12 lg:py-32;
  }
  .section-title {
    @apply mb-5 text-3xl font-medium lg:text-4xl lg:font-extrabold;
  }
  .subtitle {
    @apply mb-16 max-w-[520px] text-base text-paragraph lg:mb-24;
  }
  .btn {
    @apply flex items-center justify-center rounded-sm py-4 px-7 font-medium text-white transition-all hover:bg-accent-hover;
  }
  .btn-lg {
    @apply h-[54px];
  }
  .btn-md {
    @apply h-[48px];
  }
  .input {
    @apply h-[60px] w-full rounded-sm bg-secondary pl-6 font-body text-[15px] text-paragraph outline-none focus:outline focus:outline-1 focus:outline-accent;
  }
  .textarea {
    @apply h-[200px] w-full resize-none rounded-sm bg-secondary p-6 outline-none focus:outline focus:outline-1 focus:outline-accent;
  }
  .active {
    @apply text-accent;
  }
}
