@tailwind base;
@tailwind components;
@tailwind utilities;
.primary_title {
  font-family: var(--font-face-primary);
}

.my-resume {
  color: black !important;
  background-color: white !important;
}

.im {
  width: 96rem;
  height: 24rem;
}
.secondary_title {
  font-family: var(--font-face-secondary);
}
@layer base {
  body {
    @apply bg-gray-200 font-body leading-6 text-paragraph;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary text-white;
  }
  .section {
    @apply py-12 lg:py-32;
  }
  .section-title {
    @apply mb-5 text-3xl font-medium lg:text-4xl lg:font-extrabold;
  }
  .subtitle {
    @apply mb-16 max-w-[520px] text-base text-paragraph lg:mb-24;
  }
  .btn {
    @apply flex items-center justify-center rounded-sm py-4 px-7 font-medium text-white transition-all hover:bg-accent-hover;
  }
  .btn-lg {
    @apply h-[54px];
  }
  .btn-md {
    @apply h-[48px];
  }
  .input {
    @apply h-[60px] w-full rounded-sm bg-secondary pl-6 font-body text-[15px] text-paragraph outline-none focus:outline focus:outline-1 focus:outline-accent;
  }
  .textarea {
    @apply h-[200px] w-full resize-none rounded-sm bg-secondary p-6 outline-none focus:outline focus:outline-1 focus:outline-accent;
  }
  .active {
    @apply text-accent;
  }
}
/* css btn Hero */
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: '';
}
.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}

.hero-btn {
  position: relative;
  display: inline-block;
  width: auto;
  min-width: 150px;
  height: auto;
  margin: 0px 25px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero-btn span {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  font-size: 0.9rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .hero-btn span {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    transition: 0.3s;
  }
}

.hero-btn-3 {
  padding: 0.4rem;
}
.hero-btn-3 span {
  color: rgb(255, 255, 255);
  background-color: #2563eb;
}
.hero-btn-3::before,
.hero-btn-3::after {
  z-index: 2;
  background: transparent;
}
.hero-btn.hover-border-2::before,
.hero-btn.hover-border-2::after {
  width: 10%;
  height: 25%;
  transition: 0.35s;
}
.hero-btn.hover-border-2::before {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #7fc7eb;
  border-left: 1px solid #7fc7eb;
}
.hero-btn.hover-border-2::after {
  top: 0;
  right: 0;
  border-top: 1px solid #7fc7eb;
  border-right: 1px solid#7fc7eb;
}
.hero-btn.hover-border-9::before {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000;
}
.hero-btn.hover-border-9::after {
  top: 0;
  right: 0;
  border-top: 1px solid #000;
  border-right: 1px solid#000;
}
.hero-btn.hover-border-2:hover::before,
.hero-btn.hover-border-2:hover::after {
  width: 99%;
  height: 99%;
}
.hero-btn.hover-border-3::before,
.hero-btn.hover-border-3::after {
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}
.hero-btn.hover-border-3::before {
  top: 0;
  right: 0;
  border-top: 1px solid rgb(28, 31, 30);
  border-left: 1px solid rgb(28, 31, 30);
}
.hero-btn.hover-border-3::after {
  bottom: 0;
  left: 0;
  border-right: 1px solid rgb(28, 31, 30);
  border-bottom: 1px solid rgb(28, 31, 30);
}
.hero-btn.hover-border-3:hover::before,
.hero-btn.hover-border-3:hover::after {
  width: 100%;
  height: 99%;
  opacity: 1;
  transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: relative;
}

button[aria-label]:focus:after,
button[aria-label]:hover:after {
  position: absolute;
  top: -3em;
  left: -5rem;
  z-index: 1;
  display: block;
  width: 22rem;
  height: 2em;
  padding: 0 0.7em;
  overflow: hidden;
  color: #fff;
  font-size: 1em;
  line-height: 2em;
  text-align: left;
  background: #2563eb;
  border-radius: 0.2em;
  content: attr(aria-label);
}
